<?xml version="1.0" encoding="UTF-8"?>

<Configuration name="CommandLineConfig">
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p (%t) [%c{1.}] %m%throwable{10}%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="io.hyperfoil" level="TRACE"/>
        <Logger name="org.jgroups" level="INFO"/>
        <Logger name="org.infinispan" level="INFO"/>
        <Logger name="io.vertx" level="INFO"/>
        <Logger name="io.netty" level="INFO"/>

        <Root level="INFO">
            <AppenderRef ref="STDOUT" level="TRACE"/>
        </Root>
    </Loggers>
</Configuration>
