name: Upload to quay.io

on:
  schedule:
    - cron: '0 0 * * 1'

jobs:
  build:
    env:
      QUAY_BOT_LOGIN: ${{secrets.QUAY_BOT_LOGIN}}
      NO_DOWNLOAD_MESSAGE: "-B -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        distribution: 'adopt'
        java-version: 11
    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Generate SSH keys
      run: ssh-keygen -t rsa -b 4096 -C "github@hyperfoil.io" -f ~/.ssh/id_rsa
    - name: Authorize SSH key on localhost
      run: cat ~/.ssh/id_rsa.pub >> ~/.ssh/authorized_keys
    - name: Gather known hosts
      run: ssh-keyscan localhost >> ~/.ssh/known_hosts
    - name: Fix home dir permissions
      run: chmod go-w /home/$USER && chmod 700 /home/$USER/.ssh && chmod 600 /home/$USER/.ssh/authorized_keys
    - name: Build with Maven
      run: mvn clean -B package --file pom.xml -Pbenchmark -Pbuild-image -Dio.hyperfoil.agent.java.executable=$JAVA_HOME/bin/java $NO_DOWNLOAD_MESSAGE -Dagent.log.trace
    - name: Upload artifact for failed workflow
      if: failure()
      uses: actions/upload-artifact@v3
      with:
        name: test logs
        path: |
          */target/surefire-reports/*
          test-suite/target/hyperfoil/*.log
    - name: Get version
      run: echo PROJECT_VERSION=$( mvn org.apache.maven.plugins:maven-help-plugin:3.1.0:evaluate -Dexpression=project.version -q -DforceStdout ) >> $GITHUB_ENV
    - name: Login to Quay.io
      if: env.QUAY_BOT_LOGIN != '' && (github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/hyperfoil-all-'))
      uses: docker/login-action@v2
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_BOT_LOGIN }}
        password: ${{ secrets.QUAY_BOT_PASSWORD }}
    - name: Push to Docker Hub
      if: env.QUAY_BOT_LOGIN != '' && (github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/hyperfoil-all-'))
      run: docker push quay.io/hyperfoil/hyperfoil:${{ env.PROJECT_VERSION }}
    - name: Push the tag latest to Docker Hub
      if: env.QUAY_BOT_LOGIN != ''  && startsWith(github.ref, 'refs/tags/hyperfoil-all-')
      run: docker push quay.io/hyperfoil/hyperfoil:latest
    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/hyperfoil-all-')
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ env.PROJECT_VERSION }}
        draft: false
        prerelease: false
    - name: Upload distribution ZIP file
      if: startsWith(github.ref, 'refs/tags/hyperfoil-all-')
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: distribution/target/hyperfoil-${{ env.PROJECT_VERSION }}.zip
        asset_name: hyperfoil-${{ env.PROJECT_VERSION }}.zip
        asset_content_type: application/zip
